Label {
    -unity-font-definition: resource("Fonts & Materials/Cause-VariableFont_wght SDF");
}

MyVisualElement {
}

MyVisualElement > #myContainerName {
}

MyVisualElement > #myContainerName > #myLabelName {
}

Button {
    -unity-font-definition: resource("Fonts & Materials/Cause-VariableFont_wght");
}
