Label {
    -unity-font-definition: resource("Fonts & Materials/Cause-VariableFont_wght SDF");
}

MyVisualElement {
}

MyVisualElement > #myContainerName {
    flex-direction: row;
}





Button {
    -unity-font-definition: resource("Fonts & Materials/Cause-VariableFont_wght");
    background-color: rgb(41, 75, 41);
    color: rgb(219, 231, 201);
}
